.listItem.selected {
    background-color: var(--mantine-color-gray-1);
}
.listItem:hover {
    cursor: pointer;
    background-color: var(--mantine-color-gray-1);
}

.visibleOnHover {
    opacity: 0;
}
.visibleOnHover:hover {
    opacity: 1;
}

@font-face {
    font-family: 'Lexend';
    src: url("../assets/fonts/Lexend-VariableFont_wght.ttf") format('truetype');
    font-weight: 100 900;
    font-style: normal;
  }

@font-face {
    font-family: 'KodeMono';
    src: url("../assets/fonts/KodeMono-VariableFont_wght.ttf") format('truetype');
    font-weight: 400 700;
    font-style: normal;
}