.listItem.selected {
    background-color: var(--mantine-color-gray-1);
}
.listItem:hover {
    cursor: pointer;
    background-color: var(--mantine-color-gray-1);
}

.visibleOnHover {
    opacity: 0;
}
.visibleOnHover:hover {
    opacity: 1;
}